/*-- scss:defaults --*/

// Colors
$dark-green: #035a0f;
$beige: #f9f3d2;
$mint: #9ef4c5;
$brown: #834227;
$green: #40a32a;

$navbar-bg: $brown;
$navbar-fg: $beige;
$navbar-hl: $green;
$body-bg: $beige;
$body-color: $dark-green;
$footer-bg: $brown;